@charset "UTF-8";
/* reset parámetros */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none; }

/* estilos genericos */
body {
  font-family: "Armata", sans-serif; }

.font {
  font-family: "Armata", sans-serif; }

footer {
  margin-bottom: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00b7ae;
  align-items: flex-end; }

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem,6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center; }

.footer-container-info {
  display: flex;
  align-items: center;
  flex-direction: column; }

.footer-derechos {
  color: rgba(255, 255, 255, 0.904);
  font-style: italic; }

.footer-logo {
  width: 300px;
  height: auto;
  padding: 15px; }

.footer-container-redes {
  background-color: #00b7ae;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse; }

.footer-redes-img {
  width: 100%;
  margin: 10px; }

.bg-light {
  font-weight: bold;
  font-family: "Armata", sans-serif;
  font-size: 18px; }

/* estilos de la sección inicio */
.main-container {
  padding: 5% 10%;
  display: grid;
  gap: 30px; }

.main-img {
  width: 100%;
  height: auto; }

.main-text-container {
  color: #00b7ae;
  width: 80%;
  margin-top: 5%; }

.main-title {
  font-size: 30px;
  font-weight: bold; }

.main-parrafo {
  font-size: 15px; }

@media screen and (min-width: 940px) {
  .main-container {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    text-align: start; }
  .main-img {
    width: 90%; } }

/* estilos de la sección especialidades */
.img-esp {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  box-shadow: 5px 5px; }

.content-esp {
  padding: 5% 10%;
  color: #00b7ae; }

@media screen and (min-width: 940px) {
  .img-esp {
    width: 100%;
    box-shadow: 5px 5px; }
  .content-esp {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: 50px; } }

/* estilos de la sección cuidados */
.centrado-cuidados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 5%;
  color: #00b7ae; }

.img-cuidados {
  margin: 5%;
  width: 80%; }

.img-cuidados:hover {
  border-style: dashed; }

/*estilos de la sección nosotros */
.img-banner {
  width: 100%;
  height: auto; }

.nosotros-content {
  padding: 5%;
  color: #00b7ae; }

.enviar {
  border-color: white;
  font-size: 20px;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 10px; }

/* estilos de la sección contacto */
form {
  margin: 40px 50px;
  text-align: center; }
  form label {
    display: block;
    color: #00b7ae;
    font-size: 20px;
    padding: 5px; }

.contacto {
  margin: 0 0 18px;
  padding: 10px 30px;
  border-color: #00b7ae;
  border-style: solid;
  border-width: thin;
  width: 100%; }

.enviar {
  background-color: #00b7ae;
  color: white;
  cursor: pointer;
  text-align: center; }

.enviar:hover {
  scale: 1.15;
  background-color: rgba(187, 148, 40, 0.986); }

@media screen and (min-width: 940px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas: "map form";
    margin: 20px; }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr;
    gap: 20px 30px;
    grid-auto-flow: row;
    grid-template-areas: "name tel" "correo correo" "textBox textBox" "checkBox checkBox" "button button";
    grid-area: form; }
  .name {
    grid-area: name; }
  .tel {
    grid-area: tel; }
  .correo {
    grid-area: correo; }
  .textBox {
    grid-area: textBox; }
  .checkBox {
    grid-area: checkBox; }
  .button {
    grid-area: button; }
  .map {
    grid-area: map;
    margin-top: 50px; } }
